Source: ros-groovy-md49-base-controller
Section: misc
Priority: extra
Maintainer: Fabian Prinzing <scheik.todeswache@googlemail.com>
Build-Depends: debhelper (>= 7.0.0), ros-groovy-catkin, ros-groovy-geometry-msgs, ros-groovy-md49-messages, ros-groovy-md49-serialport, ros-groovy-message-generation, ros-groovy-roscpp, ros-groovy-rospy, ros-groovy-std-msgs
Homepage: http://www.the-starbearer.de
Standards-Version: 3.9.2

Package: ros-groovy-md49-base-controller
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-geometry-msgs, ros-groovy-md49-messages, ros-groovy-md49-serialport, ros-groovy-message-runtime, ros-groovy-roscpp, ros-groovy-rospy, ros-groovy-std-msgs
Description: The md49_base_controller package
