Source: ros-groovy-md49-serialport
Section: misc
Priority: extra
Maintainer: Fabian Prinzing <scheik.todeswache@googlemail.com>
Build-Depends: debhelper (>= 7.0.0), ros-groovy-catkin, ros-groovy-roscpp
Homepage: http://www.the-starbearer.de
Standards-Version: 3.9.2

Package: ros-groovy-md49-serialport
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-roscpp
Description: The md49_serialport package
